import {FC} from "react"
import { {{pascalCase name}}Props, defaultProps } from "./{{pascalCase name}}.propTypes";

const {{pascalCase name}}: FC<{{pascalCase name}}Props> = (props) => {
  const {} = props;

  return <div className="container {{kebabCase name}}">{{titleCase name}} Template</div>;
};

{{pascalCase name}}.defaultProps = defaultProps;
{{pascalCase name}}.propTypes = propTypes;
export default {{pascalCase name}};




const {{pascalCase name}}: FC<{{pascalCase name}}Props> = () => {
    return (
        <div className={ styles.{{camelCase name}} }>
            {{pascalCase name}}
        </div>
    )
}

export default {{pascalCase name}}