import { propTypes, defaultProps } from "./{{pascalCase name}}.propTypes";

const {{pascalCase name}} = (props) => {
  const {} = props;

  return <div className="container {{kebabCase name}}">{{titleCase name}} Template</div>;
};

{{pascalCase name}}.defaultProps = defaultProps;
{{pascalCase name}}.propTypes = propTypes;
export default {{pascalCase name}};
